@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: #542e71;
    color: #232323;
}

.rounded-up {
    border-radius: 40px 40px 0 0;
}

.rounded-left {
    border-radius: 10px 0 0 10px;
}

.rounded-right {
    border-radius: 0 10px 10px 0;
}

/* ---- about page ------ */
.pict-card {
    position: relative;
    margin-left: -50px;
    margin-top: -50px;
}

.about-card {
    background: linear-gradient(
        180deg,
        #fedd86 0%,
        rgba(254, 221, 134, 0) 100%
    );
}

.pict-owner {
    margin-top: -50px;
}
